<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Travis</string>
		<key>Latitude</key>
		<real>30.286228</real>
		<key>Longitude</key>
		<real>-97.73710699999999</real>
	</dict>
	<dict>
		<key>Name</key>
		<string>Becky</string>
		<key>Latitude</key>
		<real>30.287308</real>
		<key>Longitude</key>
		<real>-97.746582</real>
	</dict>
</array>
</plist>
